---
import HeadCommon from '../components/HeadCommon.astro'
const { content = {} } = Astro.props;

---
<html lang="en">
	<head>
		<HeadCommon />
		<title>{content.title||'默认标题'}</title>
    </head>
    <body>
        <slot />
    </body>
</html>